@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Vaccinator</h1>
    <img src="https://images.glaciermedia.ca/polopoly_fs/1.24261323.1609350969!/fileImage/httpImage/image.jpg_gen/derivatives/landscape_804/powell-river-peak-cartoon.jpg"/>
</div>
